@import url("https://fonts.googleapis.com/css?family=Bebas+Neue");

.App {
  text-align: center;
  font-family: "Bebas Neue";
  color: white;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-y: scroll;
  background-image: url("./assets 2/background/background.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top left;
}

.background2 {
  background-image: url("./assets 2/background/Dazed Web3 Roadmap.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top left;
  width: 100%;
  height: 100vh;
  position: relative;
}

.overlay {
  opacity: 1.00;
  width: 100%;
  height: 100%;
  z-index: 10;
  top: 0;
  left: 0;
  position: fixed;
}
